<launch>	

<!-- turtlebot3 world  without TB3 model spawned -->
<!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_world.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include> 
 -->

 <!-- turtlebot3 world with TB3 model spawned -->
<include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"/>

<!-- quadrotor world -->
  <!-- <include file="$(find hector_gazebo_worlds)/launch/willow_garage.launch"/> -->
</launch>